#container {
    height: 87%;
  }

  .bodyContainer{
    min-height:100%;
  }

  .mainRowContainer{
    height: 740px;
  }

  .MenuActions{
    min-height:100%;
    background-color: var(--ion-color-ripley);
  }

  .optionMenu:hover{
    cursor: pointer;
  }

  @media (max-width: 575px) {
    .mainRowContainer{
      height: 450px !important;
    }
  }