<ion-header [translucent]="true" class="ion-padding-top">
  <ion-toolbar class="ion-padding-start">
    <ion-buttons slot="end" class=" ion-hide-md-up">
      <ion-button (click)="showMovileMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <img
        src="./assets/logos/logo-banco-ripley.svg"
        alt="imagen no encontrada">
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>