<ion-header [translucent]="true" class="ion-padding-top">
  <ion-toolbar class="ion-padding-start">
<!--     <ion-buttons slot="end">
      <ion-avatar>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKfWT-sqV_UEFxLcZ60qISKCez6vNfj-JuqD8Rb41VU2wswGXj&usqp=CAU">
      </ion-avatar>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <img
        src="./assets/logos/logo-banco-ripley.svg"
        onError="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg'">
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>