<ion-card *ngIf="userInfo">
  <ion-card-title> información Cliente </ion-card-title>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <b>Nombre:</b>
        </ion-col>
        <ion-col size="8">
          {{userInfo.name | titlecase }}
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <b>Email:</b>
        </ion-col>
        <ion-col size="8">
          {{userInfo.email}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userBankAccInfo" class="ion-align-items-center">
        <ion-col size="4">
          <b>Numero Cuenta:</b>
        </ion-col>
        <ion-col size="8">
          {{userBankAccInfo.account_number}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userBankAccInfo" class="ion-align-items-center">
        <ion-col size="4">
          <b>Saldo:</b>
        </ion-col>
        <ion-col size="8">
          {{userBankAccInfo.amount | currency:'CL' : 'symbol' : '1.0-0'}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>