.avanceCard{
    width: 100%;
    padding: 10px;   
}

.avanceCard{
    -moz-transform: translateX(0);
}

.avanceCard::before{
    content: 'AVANCE';
    background-color: var(--ion-color-warning);
    position: absolute;
    bottom: 85%;
    left: 0px;
    padding: 5px 10px;
    width: 90px;
    font-size: 20px;
    border-radius: 4px;
}

h1{
    color: var(--ion-color-warning);
    font-weight: 600;
}

ion-card-header{
    padding-bottom: 3px;
}

.loQuieroButton{
    margin-top: 15px;
}