<ion-grid>
  <ion-row class="ion-align-items-end">
    <ion-col size="1" class="ion-text-center ion-hide-lg-down">
      <span class="link">PruebaRipley</span>
    </ion-col>
    <ion-col size="10" class="ion-text-center ion-hide-lg-down">
      <span>Resultados Proceso de Licitación Pública Seguros asociados a Créditos Hipotecarios 2020.</span> <br>
        <span class="link">SEGURO DE DESGRAVAMEN E INVALIDEZ  | SEGURO DE INCENDIO Y COBERTURAS COMPLEMENTARIAS</span> <br><br>
        
      <span>Infórmese sobre la garantía estatal de los depósitos en su banco o en www.cmfchile.cl</span>
    </ion-col>
    <ion-col size="6" size-lg="1" class="ion-text-end">
      <ion-row>
        <ion-col size="4">
          <ion-icon name="logo-facebook" class="socialIcons"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-twitter" class="socialIcons"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-instagram" class="socialIcons"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>