
.socialIcons{
    font-size: 25px;
    color: var(--ion-color-ripley);
}

span{
    font-size: 13px;
}

.link{
    color: var(--ion-color-ripley);
    font-size: 13;
    font-weight: bold;
    margin-top: 10px;
}