#container {
}

.homeBanner{
}

.bannerImg{
  width: 100%;
  height: 475px;
}

ion-col h1{
  font-weight: 600;
  font-size: 17px;
  color: var(--ion-color-ripley);
}

ion-col h2{
  font-weight: 500;
  font-size: 24px;
}

.avanceCols{

}