<app-header></app-header>

<ion-content >
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" color="primary" class="homeBanner">
          <img
          class="bannerImg"
          src="./assets/banners/bannerNavidad.png"
          onError="this.src='./assets/img/notFound.png'">
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" class="ion-text-start">
          <h1>Ofertas en Avance y Súper Avance</h1>
          <h2>¡Exclusivo Online! Solicita tu Súper Avance en efectivo</h2>
          <ion-row>
            <ion-col size="4" *ngFor="let avance  of _avancesService.avances" class="avanceCols">
              <app-avances-card [avance]="avance"></app-avances-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>




