<ion-card class="authenticationContainer" mode="ios">
  <ion-toolbar color="dark">
    <ion-segment color="light">
      <ion-segment-button *ngFor="let authSlide of authSlides"  [value]="authSlide" [disabled]="authSlide.disabled" (click)="slideOnChange(authSlide.index, slidesAuth )"
        [class.segment-button-checked]="authSlide.cheked">
        {{authSlide.action}} 
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides (ionSlidesDidLoad)="slideDidLoad()" #slidesAuth>
    <ion-slide>
        <app-login (showNewAccountFormEmitter)="slideOnChange(1, slidesAuth)"></app-login>
    </ion-slide>
    <ion-slide >
        <app-register-account></app-register-account>
    </ion-slide>
  </ion-slides>   
</ion-card>