.authenticationContainer{
    position: absolute;
    background: white;
    color: black;
    z-index: 10;
    left: 10%;
    top: 1%;
    width: 400px;
    height: 400px;
  }

  .authenticationTypeSegment{
    z-index: 100;
  }

  ion-segment-button{
      font-size: 23;
      font-weight: 600;
      width: 100% !important;
  }

  @media (orientation: portrait) and (max-width: 768px) {
    .authenticationContainer{
      position:sticky;
      background: white;
      color: black;
      width: 350px;
      height: 400px;
    }
  }