
.socialIcons{
    font-size: 25px;
    color: var(--ion-color-ripley);
}

h1{
    font-size: 15px;
    padding: 3px 0px;
}

h2{
    color: var(--ion-color-ripley);
    font-size: 17;
    font-weight: 600;
    padding: 3px 0px;
}