<ion-grid>
  <ion-row>
    <ion-col size="1" class="ion-text-center">
      jkl;kl;
    </ion-col>
    <ion-col size="10" class="ion-text-center">
      <h1>Resultados Proceso de Licitación Pública Seguros asociados a Créditos Hipotecarios 2020.</h1> <br>
        <h2>SEGURO DE DESGRAVAMEN E INVALIDEZ  | SEGURO DE INCENDIO Y COBERTURAS COMPLEMENTARIAS</h2> <br><br>
        
        Infórmese sobre la garantía estatal de los depósitos en su banco o en www.cmfchile.cl
    </ion-col>
    <ion-col size="1" class="ion-text-end">
      <ion-row>
        <ion-col size="4">
          <ion-icon name="logo-facebook" class="socialIcons"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-twitter" class="socialIcons"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-instagram" class="socialIcons"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>